.book-card {
    width: 100%;
    height: 400px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in, background 0.1s ease-in;
}

.book-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px;
}

.book-cover {
    width: 100%;
    min-height: 70%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.book-year {
    margin-top: 10px;
}