.footer {
    width: 100%;
    padding: 30px 0 30px;
    background-color: #077037;
}

.footer-container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.footer-logo-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo {
    height: 40px;
    width: auto;
}

.footer-logo:hover {
    opacity: 0.75;
}

.footer-logo:active {
    opacity: 0.5;
}

.footer-logo-title {
    font-size: 18px;
    font-weight: 600;
}

.footer-logo-sub {
    font-size: 10px;
    letter-spacing: 0.24em;
    text-transform: uppercase;
}

.footer-email {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
}

.footer-email:hover {
    opacity: 0.75;
}

.footer-email:active {
    opacity: 0.5;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}

.footer-link {
    font-weight: 600;
    font-style: bold;
    line-height: 100%;
    font-size: 20px;
    color: #fff;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.15s ease;
}

.footer-link:hover {
    opacity: 0.75;
}

.footer-link:active {
    opacity: 0.5;
}

.footer-bottom {
    margin-top: 40px;
    text-align: center;
}

.footer-bottom-text {
    color: #fff;
    font-weight: 700;
}

@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-left {
        margin: auto;
    }

    .footer-right a {
        text-align: center;
        margin: auto;
    }

    .footer-email,
    .footer-link {
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    .footer-right {
        width: 100%;
    }

    .footer-email {
        font-size: 13px;
    }
}

@media (max-width: 420px) {
    .footer-email {
        font-size: 12px;
    }

    .footer-bottom-text {
        font-size: 12px;
    }
}