html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
  user-select: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Golos Text", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}